;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :builds
 {:cli
  {:target :node-script
   :output-to "dist/clono.js"
   :main clono.main/main}}}
