.clono-align-right {
  text-align: right;
}

.clono-column {
  break-inside: avoid;
}

.clono-column-title {
  break-after: avoid;
}

.clono-page-break {
  break-before: page;
}

.clono-blank-page {
  page: clono-blank;
  break-before: page;
  break-after: page;
  min-block-size: 1px;
}

body {
  counter-reset: figure;
}

.clono-numbered-figure {
  counter-increment: figure;
}

.clono-numbered-figure > .clono-figure-caption::before {
  content: "図" counter(chapter) "." counter(figure) " ";
}

a.clono-xref-figure.clono-xref-number::before,
a.clono-xref-figure.clono-xref-number-title::before {
  content: "図" target-counter(attr(href url), chapter) "." target-counter(attr(href url), figure);
}

a.clono-xref-figure.clono-xref-number-title::after {
  content: " " target-text(attr(data-title-href url), content);
}

a.clono-xref-figure.clono-xref-title::before {
  content: target-text(attr(data-title-href url), content);
}

a.clono-xref-heading-chapter.clono-xref-heading-h1.clono-xref-number::before,
a.clono-xref-heading-chapter.clono-xref-heading-h1.clono-xref-number-title::before {
  content: "第" target-counter(attr(href url), chapter) "章";
}

a.clono-xref-heading-chapter.clono-xref-heading-h2.clono-xref-number::before,
a.clono-xref-heading-chapter.clono-xref-heading-h2.clono-xref-number-title::before {
  content: target-counter(attr(href url), chapter) "." target-counter(attr(href url), section);
}

a.clono-xref-heading-chapter.clono-xref-heading-h3.clono-xref-number::before,
a.clono-xref-heading-chapter.clono-xref-heading-h3.clono-xref-number-title::before {
  content: target-counter(attr(href url), chapter) "." target-counter(attr(href url), section) "." target-counter(attr(href url), subsection);
}

a.clono-xref-heading-appendix.clono-xref-heading-h1.clono-xref-number::before,
a.clono-xref-heading-appendix.clono-xref-heading-h1.clono-xref-number-title::before {
  content: "付録" target-counter(attr(href url), appendix, upper-alpha);
}

a.clono-xref-heading-appendix.clono-xref-heading-h2.clono-xref-number::before,
a.clono-xref-heading-appendix.clono-xref-heading-h2.clono-xref-number-title::before {
  content: target-counter(attr(href url), appendix, upper-alpha) "." target-counter(attr(href url), section);
}

a.clono-xref-heading-appendix.clono-xref-heading-h3.clono-xref-number::before,
a.clono-xref-heading-appendix.clono-xref-heading-h3.clono-xref-number-title::before {
  content: target-counter(attr(href url), appendix, upper-alpha) "." target-counter(attr(href url), section) "." target-counter(attr(href url), subsection);
}

a.clono-xref-heading.clono-xref-number-title::after {
  content: " " target-text(attr(data-title-href url), content);
}

a.clono-xref-heading.clono-xref-title::before {
  content: target-text(attr(data-title-href url), content);
}
